{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Korxona enter</title>
	<link rel="stylesheet" href="{% static 'css/login-style.css' %}" media="screen" type="text/css" />
</head>
<body>

    <div id="login">
        <form method="POST" action="">
            {% csrf_token %}
            <fieldset class="clearfix">
                {{ form.non_field_errors }}
                <p><span class="fontawesome-user"></span>
                    {{ form.username.errors }}
                    {{ form.username }}
                </p>
                <p><span class="fontawesome-lock"></span>
                    {{ form.password.errors }}
                    {{ form.password }}
                </p>

                <p><input type="submit" value="Enter"></p>
            </fieldset>
        </form>

    </div>

</body>
</html>